<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galdita"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-feature android:name="android.hardware.camera"></uses-feature>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateVisible|adjustResize" >
        <activity
            android:name="com.galdita.controller.Dashboard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.Help"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.Credit"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.HelpContent"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.AlbumController"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.ItemChooser"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.ItemsController"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.FullScreen"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.SliderActivity"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.Video"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.AddAlbum"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.EditAlbum"/>
        <activity 
            android:label="@string/app_name"
            android:name="com.galdita.controller.MenuEdit"/>
        <activity 
            android:label="Option"
            android:name="com.galdita.controller.MenuEdit"
            android:theme="@android:style/Theme.Dialog"/>
        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>